nav{
    background: #000043;
    width: 100%;
    height: 50px;
    color: var(--ligh-color);
    align-items: center;
}

.navbar-title{
    font-size: 20px;
    white-space: nowrap;
    line-height: 50px;
    font-weight: bold;
    margin-right: 30px;
    margin-left: 30px;
    float:left;

}


nav ul {
    list-style: none;
    float:left;
}

nav ul li{
    
    display: inline-block;
	line-height: 50px;
}

nav ul li a{
    color: white;
    border-radius: 4px;
    font-size: 15px;
    padding: 6px 15px
}
.navbar-menu-logout{
    display: none;
}

a.active, a:hover {
	background: #3d3d61;
	transition: .5s;
}

.user-navbar{
    width: 30%;
    margin-right: 30px;
}


.user-navbar ul li{
    font-size: 0.9em;
    margin-right: 10px;
    list-style: none;
    display: inline-block;

}

.user-navbar a{
    margin-left: 4px;
    color: var(--ligh-color);
    
}
.icon-user{

    font-size: 1em;

}

.description-container{
    background: var(--ligh-color);
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1em;
    color: rgb(83, 83, 83);
    font-size: 12px;
    border-bottom: 1px solid rgb(214, 214, 214);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

.checkbtn {
	font-size: 30px;
	color: white;
	float: right;
    margin-top: 8px;
	line-height: 40px;
	margin-right: 40px;
	cursor: pointer;
    display: none;
}

.navbar-user{
    float:right;
    margin-right: 30px;
    font-size: 13px;
}

#check {
	display: none;
}

@media(max-width: 950px){
    .navbar-title{
        font-size: 15px;
    }

    .navbar-menu ul li a{
        font-size: 13px;
    }
    
    .navbar-user{
        font-size: 13px;
    }
    .navbar-user-name{
        display: none;
    }
    .description-container{
        font-size: 10px;
    }
}

@media(max-width:750px){
    .checkbtn{
        display: block;
    }
    
    .navbar-user{
        display: none;
    }

    .navbar-menu-logout{
        display: block;
    }

    ul{
		position: fixed;
		width: 100%;
		height: 50vh;
		background: #000043;
		top: 50px;
		left: -100%;
		text-align: center;
		transition: all .5s;
        z-index: 10000;
	}
	nav ul li{
		display: block;
		margin: 30px 0;
		line-height: 20px;
	}
	nav ul li a {
		font-size: 15px;
	}
	a:hover, a.active {
		background: none;
		color: #5434af;
	}
	#check:checked ~ ul {
		left: 0;
	}
}


@media(max-width:660px){
    .description-container{
        font-size: 7px;
    }
}

@media(max-width: 411px){
    .description-container{
        font-size: 5px;
    }
}