.container{
    display: flex;
    height: 100vh;
    max-width: 100vw;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(67,67,131,1) 17%, rgba(68,164,184,1) 100%);

}

.content{
    display: flex;
    background-color: var(--ligh-color);
    border-radius: 15px;
    position: relative;
    width: 900px;
    height: 50%;
    justify-content: space-between;
    align-items: center;

}

.content::before{
    content: '';
    position: absolute; 
    background: var(--primary-color);
    width: 40%;
    height: 100%;
    border-radius: 15px 0 0 15px;

}

.title{
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.title-primary{
    color: #ffffff;
}

.description{
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    line-height: 30px;
}

.description-primary{
    font-weight: bold;
}

.btn{
    border-radius: 15px;
    font-weight: 300;
    font-size: 10px;
    padding: 10px 50px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0;
    outline: none;
}

.btn-primary{
    background: transparent;
    color: #ffffff;
    border: 1px solid white;
}

.btn-primary:hover{
    background: white;
    color: #000043;
    transition: .3s;
}

.btn-second{
    background-color: #000043;
    color: white;
    border: 1px solid#000043;
}


.btn-second:hover{
    background-color: #ffffff;
    border: 1px solid #000043;
    color: #000043;
    transition: .3s;
}

.first-content{
    display: flex;
}

.first-column{
    text-align: center;
    flex: 0.5 0 auto;
    z-index: 10;
}

.second-column{
    flex: 1.5 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title-secundary{
    margin-bottom: 5px;
    color: #000043;
}


.list-social-media{
    display: flex;
    list-style: none;
    justify-content: center;

}

.item-social-media{
    border: 1px solid #ffffff;

    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
    font-size: 1.4rem;
}

.link-social-media:not(:first-child){
    margin-left: 10px;
    
}

.link-social-media:hover .item-social-media{
    background-color:  #ffffff;
    color:  #000043;

    transition: .3s;
}

.description-second{
    color: #7f8c8d;
}

.form{
    display: flex;
    flex-direction: column;
    width: 75%;
}

.form input{
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    margin: 8px;
    width: 100%;
    outline: none;

}

.label-input{
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify{
    color: #7f8c8d;
    margin-left: 5px;
}

@media(max-width: 858px){
    .description {
        font-size: 13px;
    }
    .first-column{
        flex: 0.1 0 auto;
    }
}

@media(max-width: 858px){
    .description-primary{
        display: none;
    }
    .first-column{
        flex: 0.5 0 auto;
    }
}

@media(max-width: 465px){
    .title-primary{
        font-size: 20px;
    }
}

@media(max-width: 414px){
    .content::before{
        display: none;
    }

    .first-column{
        display: none;
    }
}
