.reserver-content{
    background-color: #f5f5f5;
    margin-bottom: 20px;
    position: relative;
    margin: 0 10px 30px 10px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 3px rgba(184,175,184,1);
}

.reserver-content-action {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #000043;
    border-left: 5px solid #000043;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.reserver-content-action h3{
    font-size: 17px;
}

.reserver-content-search{
    width: 55%;
    display: flex;
    font-size: 13px;
    color: #000043;
    align-items: center;
}

.reserver-content-search label{
    margin-right: 10px;
}

.reserver-content-search input{  
    margin-right: 10px;
    width: 40%;
    height: 30px;
    padding: 10px;
    border: 1px solid #000043;
}

.reserver-today{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.reserver-card-reserved, .reserver-card-inuse{
    font-size: 13px;
    padding: 5px;
    color: white;
    width: 240px;
    margin-bottom: 10px;
}

.reserver-card-reserved{
    border: 1px solid #000043;
    background: #2a2a4b;
}

.reserver-card-inuse{
    border: 1px solid #2f5266;
    background: #315668;
}

.reserver-info{
    display: flex;
    justify-content: space-between;
}

.reserver-btn{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.reserver-btn button{
    font-size: 12px;
    cursor: pointer;
    padding: 4px;
    border-radius: 5px;
    color: white;
}
.reserver-btn-deliver:hover{
    background-color: #145346;
    border: 1px solid #155547;
    transition: 0.6s;
}

.reserver-btn-cancel:hover{
    color: red;
    transition: 0.6s;
}


.reserver-btn-deliver{
    background-color: rgb(32, 148, 123);
    border: 1px solid rgb(32, 148, 123);
}

.reserver-btn-cancel{
    background: unset;
    border: unset;
    font-weight: bold;
}

.reserver-btn-action{
    padding: 0 20px 20px;
    margin-left: 80%; 
}

.reserver-btn-action button{
    margin-left: 10px;
    padding: 4px;
    background-color: #20947b;
    color: white;
    border: 1px solid #20947b;
    border-radius: 3px;
    box-shadow: 0px 3px 5px 1px rgba(184,175,184,1);
    cursor: pointer;
    white-space: nowrap;
}

.reserver-btn-action button:hover{
    background-color: #145346;
    border: 1px solid #155547;
    transition: 0.6s;
}

@media(max-width: 1125px){
    .reserver-content-search{
        width: 70%;
    }
}

@media(max-width: 890px){
    .reserver-content-action{
        display: block;
    }
    .reserver-content-action h3{
        margin-bottom: 10px;
    }
    .reserver-content-search{
        width: 100%;
    }
}

@media(max-width: 780px){
    .reserver-btn-action{
        margin-left: 70%;
    }
}

@media(max-width: 646px){
    .reserver-content-search{
        display: block;
    }
    .reserver-content-search input {
        width: 90%;
    }
    .reserver-btn-action{
        margin-left: 55%;
    }
}

@media(max-width: 342px){
    .reserver-btn-action{
        margin-left: 35%;
    }
}