@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
:root {
  --primary-color: linear-gradient(var(--top-color), var(--bottom-color));
  --top-color:#4f9c8a;
  --bottom-color: #48b39a;
  --primary-hover-color:  #267561;
  --dark-color: #263238;
  --secondary-color: #2e725e;
  --ligh-color: #ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  outline: none;

}

body{
  background: #f5f1f1;

}

a {
  text-decoration: none;
}