.main-navbar{
    width: 100%;
}
.container-navbar{
    display: flex;

}

.main-navbar{
    background:var(--primary-color);
    height: 1.8em;
    padding-left: 40px;
    color: var(--ligh-color);
    display: flex;
    align-items: center;
}

.text-main-navbar{
    font-size: 0.9em;
}

.menu-main-navbar{
    display: flex;
    list-style: none;
    font-size: 0.85em;
}
.menu-main-navbar li{
    margin-left: 10%;
}

.user-navbar{
    margin-left: auto;
    margin-right: 10%;
}

.user-navbar ul li{
    font-size: 0.9em;
    list-style: none;

}

.user-navbar ul li a{
    margin-left: 7px;
    color: var(--ligh-color);
    margin-right: 5px;
    
}
.icon-user{

    font-size: 1em;

}

.menu-main-navbar li a {
    color: var(--ligh-color);
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    padding-right: 10%;
    padding-left: 15%;
    transition: all .5s;
    border: 1px solid transparent;
}


.menu-main-navbar li a:hover{
    background-color:var(--primary-hover-color);
    border: 1px solid var(--ligh-color);
    border-radius: 10%;
}

.description-container{
    background: var(--ligh-color);
    display: flex;
    align-items: center;
    padding-left: 5em;
    color: rgb(121, 120, 120);
    font-size: 10px;
    border-bottom: 1px solid rgb(214, 214, 214);
    -webkit-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
    box-shadow: 0px 3px 5px 0px rgba(184,175,184,1);
}

.description-container h1{
    margin-left: 40px;
}



.btn-make-reserver{
    position: relative;
    margin-left: auto;
    display: flex;
    margin-right: 20%;
    margin-top: 10px;
    color: var(--ligh-color);
    padding-left: 1.5%;
    padding-right: 1.5%;
    font-size: 17px;
    margin-bottom: 20px;
    background: var(--primary-color);
    border-radius: 25px;
}

.btn-make-reserver:hover{
    -webkit-transform: scale(1.01);
    -ms-transform: scale(1.01);
    transform: scale(1.01); 
    background: var(--secondary-color);
}

.icon-btn-reserver{
    margin-top: 3px;
    margin-right: 4px;
}

@media(max-width:830px){
    .description-container{
        font-size: 9px;
    }
}


@media(max-width:660px){
    .description-container{
        font-size: 7px;
    }
}

@media(max-width: 411px){
    .description-container{
        font-size: 5px;
    }
}