.modal-overlay{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 10000;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal{
    background-color: var(--ligh-color);
    border-radius: 4px;
    max-width: 600px;
    margin: 80px auto 0 auto;
    padding: 15px

}

.modal_close-button{
    float: right;
    background: unset;
    border: unset;

}