.loader-page-spinner, .loader{ 
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader {
  margin: 40px auto;
  font-size: 10px;
  width: 1em;
  height: 1em;
}

.loader-page{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.loader-page-spinner{
margin: 100px auto;
font-size: 25px;
width: 1em;
height: 1em;
}

@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em rgb(0, 0, 67), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.7), 1.8em -1.8em 0 0em #000043, 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.7), 2.5em 0em 0 0em #000043, 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.5), 2.5em 0em 0 0em rgba(0, 0, 67, 0.7), 1.75em 1.75em 0 0em #000043, 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.7), 0em 2.5em 0 0em #000043, -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.5), 0em 2.5em 0 0em rgba(0, 0, 67, 0.7), -1.8em 1.8em 0 0em #000043, -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.7), -2.6em 0em 0 0em #000043, -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.5), -2.6em 0em 0 0em rgba(0, 0, 67, 0.7), -1.8em -1.8em 0 0em #000043;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #000043, 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.5), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.7), 1.8em -1.8em 0 0em #000043, 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.5), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.7), 2.5em 0em 0 0em #000043, 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.5), 2.5em 0em 0 0em rgba(0, 0, 67, 0.7), 1.75em 1.75em 0 0em #000043, 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.5), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.7), 0em 2.5em 0 0em #000043, -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.2), -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.5), 0em 2.5em 0 0em rgba(0, 0, 67, 0.7), -1.8em 1.8em 0 0em #000043, -2.6em 0em 0 0em rgba(0, 0, 67, 0.2), -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.5), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.7), -2.6em 0em 0 0em #000043, -1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(0, 0, 67, 0.2), 1.8em -1.8em 0 0em rgba(0, 0, 67, 0.2), 2.5em 0em 0 0em rgba(0, 0, 67, 0.2), 1.75em 1.75em 0 0em rgba(0, 0, 67, 0.2), 0em 2.5em 0 0em rgba(0, 0, 67, 0.2), -1.8em 1.8em 0 0em rgba(0, 0, 67, 0.5), -2.6em 0em 0 0em rgba(0, 0, 67, 0.7), -1.8em -1.8em 0 0em #000043;
  }
}


.loader-page h1{
  margin-top: 10px;
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 4px;
}

.spinner{
    border-top: 2px solid #ffffff;
    border-right: 2px solid #000043;
    border-left: 2px solid #000043;
    border-bottom: 2px solid #ffffff;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    animation: spin 2s linear infinite;
    margin-left: 5px;
}

.spinner-login{
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-top: 2px solid #000043;
    border-bottom: 2px solid #000043;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin-left: 50%;
  margin-top: 5px;
}


  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }